{% include head.html %}
   <div class="container maginTop" id="fullpage">

      <div class="section active">
          <h1>We design solution for Human interaction</h1>
          <p>We help our clients to succeed with the products, services 
and platforms in their marketplace that are human centered. </p>
      </div>

      <div class="section">
          <img src="../assets/images/landing-page-5-01.png" class="landingImg" alt="Logo">
      </div>

      <div class="row section">
           <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                 <img src="../assets/images/1.png" class="landingImg" alt="Logo">
           </div>
           <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <h3>Our Work</h3>
               <h4>We are what</h3>
               <h4>We design</h3>
           </div>
      </div>
   </div>
{% include footer.html %} 

